<div class="author">
    <h1 class="author_heading">Karan Roushan</h1>
    <p class="author_body">web developer</p>
</div>


<img src="/img/book_img.webp" alt="netflix" class="blog_image" width="981" height="528">

<section class="articles">
    <h2 class="article_heading">latest</h2>

    <ul class="article-list">

        <% data.forEach(post => { %>
         
            <li>
                <a href="#">
                    <span><%= post.title %></span>
                    <span class="article-date"><%= post.createdAt %></span>
                </a>
            </li>

        <% }) %>
        
    </ul>

    <a href="#" class="pagination">&lt; view older posts</a>
</section>