<div class="author">
    <h1 class="author_heading">i am author</h1>
    <p class="author_body">web developer</p>
</div>


<img src="/img/net.jpg " alt="netflix" class="net_image" width="981" height="528">

<section class="articles">
    <h2 class="article_heading">latest</h2>

    <ul class="article_list">
        <li>
            <a href="#">
                <span>Post Title</span>
                <span class="article_date">Date</span>
            </a>
        </li>
    </ul>

    <a href="#" class="pagination">&lt; view older posts</a>
</section>